@font-face {
  font-family: 'Linux Libertine';
  src: url('/hugo-test-jt/fonts/LinLibertine_R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('/hugo-test-jt/fonts/LinLibertine_RI.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('/hugo-test-jt/fonts/LinLibertine_RB.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('/hugo-test-jt/fonts/LinLibertine_RBI.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Linux Libertine', serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Linux Libertine", serif;
    color: maroon;
}

h3 {
    margin-bottom: 10px;
}

a {
    color: maroon;
    text-decoration: none;
}

a:hover {
    background-color: maroon;
    color: white
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* HEADER */

header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.main-nav ul {  
    display: flex;
    list-style: none;
    gap: 20px;
}

.main-nav a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.site-title h1 {
    font-size: 32px;
    margin: 10px 0;
}

/* INDEX */

.home-layout {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.left-column {
    flex: 7;
    gap: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

}

.right-column {
    flex: 3;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.address-box, .short-bio, .research-interests,
.preprints-section, .talks-section {
    padding-right: 1rem;
}

.address-box,
.short-bio {
  text-align: justify;
}

.research-interests,
.preprints-section,
.talks-section {
  grid-column: 1 / -1;
}

.research-interests {
    text-align: justify;
}

.photo-box {
    max-width: 300px;
    margin-top: 10px;
}

.photo-box img {
    width: 100%;
    height: auto;
    display: block;
}


@media (max-width: 768px) {
    .home-layout {
        flex-direction: column;
    }

    .left-column {
        border-right: none;
        border-bottom: 2px solid maroon;
        padding-right: 0;
        padding-bottom: 30px;

    }

    .bio-section {
        flex-direction: column;
    }

    .photo-box {
        margin-top: 0;
    }
}

/* LIST */
.list-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.item-list {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* SINGLE */

.single-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

.single-title-metadata {
    margin-bottom: 2rem;
}

.metadata {
    color: rgba(128, 0, 0   );
}

.single-content h1,
.single-content h2,
.single-content h3,
.single-content h4,
.single-content h5,
.single-content h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.single-content {

}