{{ define "main" }}
<div class="home-layout">
    <div class="left-column">
    
        <div class="address-box">
            <h3>Address</h3>
            <p>Institute of Algebra and Geometry <br>
            Karlsruhe Institute for Technology<br>
            Englerstrasse 2 <br>
            76131 Karlsruhe <br>
            Germany</p>
        </div>
        
        <div class="short-bio">
            <h3>Short Bio</h3>
            <p>{{ .Content }}</p>
        </div>

        <div class="research-interests">
            <h3>Research Interests</h3>
            <p>My work lies in the broad area of topology, with a focus on the interplay between geometric structures 
                and homotopical methods. I investigate spaces that classify manifolds, explore 
                characteristic invariants of fiber bundles, and analyze deformation spaces of embeddings and 
                diffeomorphisms. My research draws on tools from higher category theory, calculus of functors and the 
                role of K-theory in geometric and smooth settings.</p><br>

            <p>For more on my academic background and publications, please see my CV.</p> <br>

            <p>I am part of the organising team of the 
            <a href="https://sites.google.com/view/european-talbot/" target="_blank"> 
            European Talbot Workshop</a> since 2025. Together with <a href="https://www.davidlenze.uk/" target="_blank"> David Lenze</a>, 
            I organise the <a href="https://sites.google.com/view/juniorgeometrycolloquim/home" target="_blank">  Junior Geometry Colloquium</a> at KIT.  </p>
        </div>
        
        <div class="preprints-section">
            <h3>Preprints:</h3>
            <ul>
                {{ range (where .Site.RegularPages "Section" "preprints") }}
                <li><a href="{{ .Params.link }}">{{ .Title }}</a> - {{ .Params.description }}</li>
                {{ end }}
            </ul>
        </div>
        
        <div class="talks-section">
            <h3>Talks:</h3>
            <ul>
                {{ range (where .Site.RegularPages "Section" "talks") }}
                <li><a href="{{ .Params.link }}">{{ .Title }}</a> - {{ .Params.description }}</li>
                {{ end }}
            </ul>
        </div>

        <div class="writing-section">
            <h3>Writing:</h3>
            <ul>
                {{ range (where .Site.RegularPages "Section" "writing") }}
                <li><a href="{{ .Params.link }}">{{ .Title }}</a> - {{ .Params.description }}</li>
                {{ end }}
            </ul>
        </div>

    </div>
    
    <div class="right-column">
        <div class="photo-box">
            <img src="{{ "images/profile.jpg" | relURL }}" alt="Profile photo">
        </div>

        <div class="writing-right">
        </div>
    </div>
</div>
{{ end }}