{{ define "main" }}
<div class="home-layout">
    <div class="left-column">
    
        <div class="address-box">
            <h3>Address</h3>
            <p>Institute of Algebra and Geometry <br>
            Karlsruhe Institute for Technology<br>
            Englerstrasse 2, 76131 Karlsruhe <br>
            Germany <br>
            <span style="color: maroon; font-weight: bold;">Email:</span>
            joao . fernandes [at] kit . edu    
        </p>
        </div>
        
        <div class="short-bio">
            <h3>Short Bio</h3>
            <p>{{ .Content }}</p>
        </div>

        <div class="research-interests">
            <h3>Research Interests</h3>
            <p>I am broadly interested in the interactions between homotopy theory and geometric topology.
               More precisely, I am currently interested in the study of the homotopy type of moduli spaces of manifolds, 
               automorphism groups and embedding spaces. Lately, I have been focused on finding analogs of well-established results about even-dimensional manifolds in the context of odd dimensions. 
            </p><br>

            <p>For more on my academic background and contact information, please see my <a href="/pdf/cv.pdf">CV</a>.</p> <br>

            <p>I am part of the organising team of the 
            <a href="https://sites.google.com/view/european-talbot/"> 
            European Talbot Workshop</a> since 2025. Together with <a href="https://www.davidlenze.uk/"> David Lenze</a>, 
            I organise the <a href="https://sites.google.com/view/juniorgeometrycolloquim/home">  Junior Geometry Colloquium</a> at KIT.  </p>
        </div>
        
        <div class="preprints-section">
            <h3>Preprints:</h3>
            <ul>
                {{ range (where .Site.RegularPages "Section" "preprints") }}
                <li><a href="{{ .Params.linkpdf }}">{{ .Title }}</a> (<a href="{{ .Params.link }}">arXiv</a>) ({{ .Params.year }})</li>
                {{ end }}
            </ul>
        </div>
        
        <div class="talks-section">
            <h3>Talks:</h3>
            <ul>
                {{ range (where .Site.RegularPages "Section" "talks") }}
                <li> {{ .Params.month}} - <a href="{{ .Params.link }}">{{ .Title }}</a> - {{ .Params.description }}</li>
                {{ end }}
            </ul>
        </div>

        <div class="writing-section">
            <h3>Writing:</h3>
            <ul>
                {{ range (where .Site.RegularPages "Section" "writing") }}
                <li><a href="{{ .Params.link }}">{{ .Title }}</a> - {{ .Params.description }}</li>
                {{ end }}
            </ul>
        </div>

    </div>
    
    <div class="right-column">
        <div class="photo-box">
            <img src="{{ "images/profile.jpg" | relURL }}" alt="Profile photo">
        </div>

        <div class="writing-right">
        </div>
    </div>
</div>
{{ end }}