{{ define "main" }}
<div class="list-page">
    <div class="list-title-content">
        <h1>{{ .Title }}</h1>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
    <ul class="item-list">
        {{ range .Pages }}
        <li>
            {{ if .Params.link }}
                <a href="{{ .Params.link }}" target="_blank" rel="noopener">{{ .Title }}</a>
            {{ else }}
                <a href="{{ .Permalink }}" target="_blank" rel="noopener">{{ .Title }}</a>
            {{ end }}
            - <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
        </li>
        {{ end }}
    </ul>

</div>
{{ end }}
